<!-- <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta charset="utf-8">
        <title>Automatic Attendance System</title>
    </head>
    <body>
    <div class="formcontainer">
        <form action='/add' method="POST" enctype="multipart/form-data">
            <h2 class="title">Enter the class number</h2>
            <label class="formlabel">Class Number: </label>
            <br>
            <input type="text" name='classname' required>
            <br>
            <button class="formsubmitbutton" type='submit'>Submit</button>
        </form>
    </div>
    </body>
</html> -->

<h1>Please enter the class information</h1>
<form  method="POST">
    {{ form.hidden_tag() }}
    {{ form.number.label }} {{form.number}}
    <br>
    {{ form.submit() }}
</form>