<!-- <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta charset="utf-8">
        <title>Automatic Attendance System</title>
    </head>
    <body>
    <div class="formcontainer">
        <form action='/add' method="POST" enctype="multipart/form-data">
            <h2 class="title">Enter the class number</h2>
            <label class="formlabel">Class Number: </label>
            <br>
            <input type="text" name='classname' required>
            <br>
            <button class="formsubmitbutton" type='submit'>Submit</button>
        </form>
    </div>
    </body>
</html> -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta charset="utf-8">
        <title>Add Class Information</title>
    </head>
    <body>
        <a href="/"><div class="Nav">Automatic Attendance System</div></a>
        <div class="Info" style="display: flex;justify-content: center;align-items: center;height: 80vh;">
            <div style="display: block;">
                {% if session['classnumber'] %}
                <h1>This device belongs to class {{session['classnumber']}}</h1>
                {% else %}
                <h1>Please enter the class information to continue. </h1>
                {% endif %}
                <form  method="POST" style="margin-left: 2em;padding: 2em;border: 1px solid #bdc3c7; box-shadow: 10px 5px 5px #bdc3c7;">
                    {{ form.hidden_tag() }}
                    <p>{{ form.number.label }} {{form.number()}}</p>
                    {{ form.submit(class_="Button") }}
                </form>
            </div>
           
        </div>
    </body>
</html>