<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta charset="utf-8">
        <title>Automatic Attendance System</title>
    </head>
    <body>
        <div class="Nav">Automatic Attendance System</div>
        <div class="CardContainer">
            <a href=classinformation>
                <div class="Card">
                    <div class="Poster">
                    <img className="poster" src='https://picsum.photos/200/300?random=1'></img>
                    </div>
                    <div class="CardHeader">
                        <h2>Class Information</h2>
                    </div>
                    <div class="GrowDiv"></div>
                </div>
            </a>
            <a href=addstudents>
                <div class="Card">
                    <div class="Poster">
                    <img className="poster" src='https://picsum.photos/200/300?random=1'></img>
                    </div>
                    <div class="CardHeader">
                        <h2>Add Students</h2>
                    </div>
                    <div class="GrowDiv"></div>
                </div>
            </a>
            <a href=monitor>
                <div class="Card">
                    <div class="Poster">
                    <img className="poster" src='https://picsum.photos/200/300?random=1'></img>
                    </div>
                    <div class="CardHeader">
                        <h2>Start Monitoring Attendance</h2>
                    </div>
                    <div class="GrowDiv"></div>
                </div>
            </a>
            <a href=attendance>
                <div class="Card">
                    <div class="Poster">
                    <img className="poster" src='https://picsum.photos/200/300?random=1'></img>
                    </div>
                    <div class="CardHeader">
                        <h2>View Attendance</h2>
                    </div>
                    <div class="GrowDiv"></div>
                </div>
            </a>
            <a href=unknowns>
                <div class="Card">
                    <div class="Poster">
                    <img className="poster" src='https://picsum.photos/200/300?random=1'></img>
                    </div>
                    <div class="CardHeader">
                        <h2>View Unknown Persons</h2>
                    </div>
                    <div class="GrowDiv"></div>
                </div>
            </a>
        </div>
       
    </body>
</html>