<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta charset="utf-8">
        <title>Add Class Information</title>
    </head>
    <body>
        <div class="Nav">Automatic Attendance System</div>
        <form  method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{form.name}}
            {{ form.studentid.label }} {{form.studentid}}
            {{ form.classnumber.label }} {{form.classnumber}}
            {{ form.time.label }} {{form.time}}
            <br>
            {{ form.submit() }}
        </form>
    </body>
</html>